/* .MEN_LINK:hover .MEN {
  display: flex;
  flex-direction: column;
  font-size: larger;
  cursor: pointer;
}

.WOMEN_LINK:hover .women {
  display: block;
  cursor: pointer;
}

.KIDS_LINK:hover .kids {
  display: block;
  cursor: pointer;
}

.HOME_LIVING_LINK:hover .homeLiving {
  display: block;
  cursor: pointer;
}

.OFFERS_LINK:hover .offers {
  display: block;
  cursor: pointer;
}

.MEN {
  display: none;
  position:fixed;
}

*/

/* --------------------------------------------------------------------------------------------- */


.App {
  text-align: center;
}

/* -------------------------------------- WEBSITE TM AND NAME --------------------------------- */

.Website_Trade_Mark {
  margin-right: -40%;
  float: left;
  margin-left: 50px;
}

.Website_Name {
  font-size: 20px;
}

.select {
  margin-top: 40px;
  font-family: "Overlock SC";
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  /* borderBottom: "3px solid rgb(47, 61, 253)", */
  border-bottom: 3px solid rgb(207, 189, 221);
  width: 17%;
}

/* -------------------------------------- SIGN UP AND SIGN IN BUTTONS ------------------------- */

.SignUp_And_SignIn {
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 128, 255);
  background-color:rgb(228, 224, 224);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Concert One';
}

.SignIn_SignUp_Inputs {
  height: 4vh;
  outline: none;
  border-radius: 3px;
  text-align: center;
  border-color: rgb(1, 128, 255);
  border-width: 3.5px;
  margin-top: 20px;
}


/* -------------------------------------- STYLING OF NAVIGATION BAR --------------------------  */

.Navigation_Bar {
  margin-top: 50px;
  margin-left: -17%;
}

.NavigationBar_LogOut_Butoon{
  margin-left: 10%;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 12px 12px 10px 12px;
  color: rgb(46, 46, 46);
  background-color: rgb(253, 141, 141);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Concert One';
}

.Navigation_Bar_Items {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  text-decoration: none;
  font-family: 'Overlock';
}

/* -------------------------------------- STYLING OF SIDE DRAWER BAR --------------------------  */

.Side_Drawer {
  display: none;
  margin-top: 60px;
}

/* -------------------------------------- STYLING OF MEN COMPONENT IN NAV BAR --------------------------  */

.Men_Data {
  text-align: center;
}

/* -------------------------------------- STYLING OF WOMEN COMPONENT IN NAV BAR --------------------------  */

.Women_Data {
  text-align: center;
}

/* -------------------------------------- STYLING OF KIDS COMPONENT NAV BAR --------------------------  */

.Kids_Data {
  text-align: center;
}

/* -------------------------------------- STYLING OF HOME LIVING NAV BAR --------------------------  */

.Home_Living_Data {
  text-align: center;
}

/* -------------------------------------- STYLING OF BACK DROP --------------------------  */

.Grey_Background {
  background-color: rgb(95, 95, 95);
}

/* -------------------------------------- STYLING OF CONTENTS WITHIN MEN COMPONENT OF NAV BAR --------------------------  */

.WishList_And_Cart_Count{
  margin-left: 42.5%;
  position: fixed;
  margin-top: 5%;
  font-size: 23px;
}

.WishList_And_Cart{
  margin-top: 3%;
  margin-left: 90%;
  cursor: pointer;
}

/* -------------------------------------- STYLING CONTENTS OF API --------------------------  */

.Arrange_API_Data {
  margin-top: 5%;
  height: 20%;
  margin: 20px auto;
  float: left;
  width: 30%;
  padding: 25px;
}

.Items_Descriptions {
  font-size: 20px;
  font-weight: bold;
}

.Add_To_WishList_And_Cart_Buttons {
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 128, 255);
  background-color:rgb(228, 224, 224);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Concert One';
}

.Quantity_Input {
  border-radius: 7px;
}

/* ----------------------------------------- APPLY FILTERS STYLING----------------------------------- */

.Apply_Filters_Heading {
  font-size: 25px;
  margin-left: 20%;
}

/* ----------------------------------------- STYLING OF BUTTONS IN WISHLIST COMPONENT----------------------------------------- */

.Remove_All_Items_From_WishList_And_Cart {
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
  color: rgb(46, 46, 46);
  background-color: rgb(253, 141, 141);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  margin-left: 16px;
  font-family: 'Concert One';
}

/* ----------------------------------------- STYLING OF CHECK BOX ----------------------------- */

input[type='checkbox'] {
  width: 20px;
  margin-left: 10%;
}
input[type='checkbox'] + label {
  display: block;
  width: 150%;
  margin-top: -10%;
  margin-left: 25%;
  font-size: 17px;
  font-family: 'KoHo';
  font-weight: bolder;
}

/* -------------------------------------- GO BACK TO HOME BUTTONS-------------------------------- */

.Go_Back_To_Home {
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 128, 255);
  background-color:rgb(228, 224, 224);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Concert One';
}



/* ----------------------------------------- MEDIA QUERIES ------------------------------------- */





@media all and (max-width: 768px){

  /* -------------------------------------- WEBSITE TM AND NAME --------------------------------- */

  .Website_Trade_Mark {
    float: left;
    margin-right: -30%;
    margin-left: 5px;
  }

  .Website_Name {
    margin-top: -2%;
    font-size: 13px;
  }

  .select {
    font-size: 15px;
    width: 50%;
    margin-top: 20%;
    margin-left: -9%;
  }

  /* -------------------------------------- SIGN UP AND SIGN IN BUTTONS ------------------------- */

  .SignUp_And_SignIn {
    margin-top: 5%;
  }

  .Remove_All_Items_From_WishList_And_Cart {
    margin-left: 0px;
  }

  /* ----------------------------------------- APPLY FILTERS STYLING----------------------------------- */

  .Apply_Filters_Heading {
    margin-left: 40%;
    margin-right: -150%;
    font-size:20px;
  }

  /* ----------------------------------------- STYLING OF CHECK BOX ----------------------------- */

  input[type='checkbox'] {
    /* float: left; */
    width: 20px;
    /* margin-left: -60%; */
    margin-right: 60%
  }
  input[type='checkbox'] + label {
    display: block;
    width: 150%;
    margin-top: -37%;
    margin-left: 50%;
    font-size: 17px;
    font-family: 'KoHo';
    font-weight: bolder;
  }

  /* -------------------------------------- STYLING FOR WISHLIST AND CART COUNT------------------- */

  .WishList_And_Cart_Count {
    margin-top: 10%;
    margin-left: 32%;
    font-size: 20px;
  }

  .WishList_And_Cart{
    /* margin-top: 3%; */
    margin-left: 110%;
    cursor: pointer;
    margin-right: -40%
  }

  /* -------------------------------------- STYLING OF NAVIGATION BAR --------------------------  */

  .Navigation_Bar {
    display: none;
  }

  /* -------------------------------------- STYLING OF SIDE DRAWER BAR --------------------------  */

  .Side_Drawer {
    display: block;
    float: left;
    /* background-color: salmon; */
    padding-right: 20%;
  }
  
  .Side_Drawer_Items {
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: -40%;
  }

  /* -------------------------------------- STYLING CONTENTS OF API --------------------------  */

  .Arrange_API_Data {
    margin-top: 5%;
    height: 5%;
    margin: 20px auto;
    float: left;
    width: 5%;
    margin-left: 117px;
  }
  .API_Images {
    width: 25vh;
    height: 80%;
    margin-left: -60px;
  }

  .Items_Descriptions {
    font-size: 10px;
    font-weight: bold;
    margin-left: -350%;
    margin-right: -450%;
  }

  .Add_To_WishList_And_Cart_Buttons {
    font-size: 15px;
    margin-top: 100%;
    margin-left: -320%;
    width: 40vw;
  }

  .Quantity_Input {
    margin-left: -350%;
  }

  /* -------------------------------------- GO BACK TO HOME BUTTONS-------------------------------- */

  .Go_Back_To_Home {
    margin-right: 16px;
  }


}

@media screen and (min-height: 1024px) {
  /* -------------------------------------- STYLING OF NAVIGATION BAR --------------------------  */
  
  .Navigation_Bar {
    display: block;
    margin-top: 50px;
    margin-left: 17%;
  }
  
  .NavigationBar_LogOut_Butoon{
    margin-left: -7%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .Navigation_Bar_Items {
    margin-right: 170px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    text-decoration: none;
    font-family: 'Overlock';
  }
  

  .Side_Drawer {
    display: none;
  }

  
  /* -------------------------------------- STYLING OF MEN COMPONENT IN NAV BAR --------------------------  */

  
  /* -------------------------------------- STYLING OF WOMEN COMPONENT IN NAV BAR --------------------------  */

  /* -------------------------------------- STYLING OF BACK DROP --------------------------  */
  
  .Grey_Background {
    background-color: rgb(95, 95, 95);
  }
  
  /* -------------------------------------- STYLING OF CONTENTS WITHIN MEN COMPONENT OF NAV BAR --------------------------  */
  
  .WishList_And_Cart_Count{
    margin-left: 37%;
    position: fixed;
    margin-top: 5%;
    font-size: 25px;
  }
  
  .WishList_And_Cart{
    margin-top: 3%;
    cursor: pointer;
    margin-right: -120%;
  }

    /* ----------------------------------------- STYLING OF CHECK BOX ----------------------------- */
  
    input[type='checkbox'] {
      /* float: left; */
      width: 20px;
      /* margin-left: -60%; */
      margin-right: 60%
    }
    input[type='checkbox'] + label {
      display: block;
      width: 150%;
      margin-top: -20%;
      margin-left: -10%;
      font-size: 17px;
      font-family: 'KoHo';
      font-weight: bolder;
    }
  
  /* -------------------------------------- STYLING CONTENTS OF API --------------------------  */
  
  .Arrange_API_Data {
    margin-top: 5%;
    height: 20%;
    margin: 20px auto;
    float: left;
    width: 30%;
    padding: 25px;
    margin-right: -30%;
    margin-left: 45%;
  }

  .API_Images {
    width: 80vh;
    height: 80%;
    margin-left: -70px;
  }
  
  .Items_Descriptions {
    font-size: 20px;
    font-weight: bold;
    margin-left: -270%;
    /* margin-right: -550%; */
  }
  
  .Add_To_WishList_And_Cart_Buttons {
    padding-left: 30px;
    margin-top: 20%;
    /* padding-right: 10px; */
    margin-right: -1150px;
    width: 35vw;
    font-size: 17px;
    
  }
  
  /* ----------------------------------------- APPLY FILTERS STYLING----------------------------------- */
  
  .Apply_Filters_Heading {
    font-size: 25px;
  }
  
  /* ----------------------------------------- STYLING OF BUTTONS IN WISHLIST COMPONENT----------------------------------------- */
  
  .Remove_All_Items_From_WishList_And_Cart {
    margin-right: 60%;
  }

  .Go_Back_To_Home {
    margin-right: 16px;
  }
 
}




@media only screen and (min-device-height: 1366px) {
  /* -------------------------------------- STYLING OF NAVIGATION BAR --------------------------  */
  
  .Navigation_Bar {
    display: block;
    margin-top: 50px;
    margin-left: 45%;
  }
  
  .NavigationBar_LogOut_Butoon{
    margin-left: -7%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .Navigation_Bar_Items {
    margin-right: 170px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    text-decoration: none;
    font-family: 'Overlock';
  }

  .NavigationBar_LogOut_Butoon{
    margin-left: 10%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Side_Drawer {
    display: none;
  }

  
  /* -------------------------------------- STYLING OF MEN COMPONENT IN NAV BAR --------------------------  */

  
  /* -------------------------------------- STYLING OF WOMEN COMPONENT IN NAV BAR --------------------------  */

  /* -------------------------------------- STYLING OF BACK DROP --------------------------  */
  
  /* .Grey_Background {
    background-color: rgb(95, 95, 95);
  } */
  
  /* -------------------------------------- STYLING OF CONTENTS WITHIN MEN COMPONENT OF NAV BAR --------------------------  */
  
  .WishList_And_Cart_Count{
    margin-left: 45%;
    position: fixed;
    margin-top: 5%;
    font-size: 30px;
  }
  
  .WishList_And_Cart{
    margin-top: 3%;
    cursor: pointer;
    margin-right: -130%;
    margin-left: 160%;
  }

    /* ----------------------------------------- STYLING OF CHECK BOX ----------------------------- */
  
    input[type='checkbox'] {
      /* float: left; */
      width: 20px;
      /* margin-left: -60%; */
      margin-right: 60%;
    }
    input[type='checkbox'] + label {
      display: block;
      width: 150%;
      margin-top: -16%;
      margin-left: -10%;
      font-size: 20px;
      font-family: 'KoHo';
      font-weight: bolder;
    }
  
  /* -------------------------------------- STYLING CONTENTS OF API --------------------------  */
  
  .Arrange_API_Data {
    margin-top: 5%;
    height: 20%;
    margin: 20px auto;
    float: left;
    width: 30%;
    padding: 25px;
    margin-right: -20%;
    margin-left: 45%;
  }

  .API_Images {
    width: 120vh;
    height: 80%;
    margin-left: -150px;
  }
  
  .Items_Descriptions {
    font-size: 35px;
    font-weight: bold;
    margin-left: -100%;
    margin-right: -450%;
  }
  
  .Add_To_WishList_And_Cart_Buttons {
    padding-left: 30px;
    margin-top: 20%;
    margin-right: -1150px;
    width: 35vw;
    font-size: 20px;
    
  }
  
  /* ----------------------------------------- APPLY FILTERS STYLING----------------------------------- */
  
  .Apply_Filters_Heading {
    font-size: 25px;
  }
  
  /* ----------------------------------------- STYLING OF BUTTONS IN WISHLIST COMPONENT----------------------------------------- */
  
  .Remove_All_Items_From_WishList_And_Cart {
    font-size: 20px;
    cursor: pointer;
    margin-right: -80%;
  }

  .Go_Back_To_Home {
    margin-right: 10px;
    font-size: 20px;
    margin-left: -120%
  }
 
}


